@use "variables";
%material-symbols {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  font-size: 17px;
  color: variables.$text-color-gray;
  margin-right: 8px;

  &:hover {
    color: #eee;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  }
}
%flex-align {
  display: flex;
  align-items: center;
}

.bar_wrapper {
  height: 49px;
  border-bottom: 0.5px solid variables.$border-color;
  margin-top: 24px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 296px auto;
  gap: 24px;
}
.bar {
  padding: 0 16px;
}
.nav_icon {
  @extend %flex-align;
  height: 100%;
  gap: 8px;
}
.logo_wrapper {
  height: 100%;
  @extend %flex-align;
}
.logo {
  padding: 0 8px;
  line-height: 30px;
  @extend %flex-align;

  &:hover {
    background-color: rgba(variables.$border-color, 0.5);
    border-radius: 6px;
    cursor: pointer;
  }
}

.logo_title {
  margin-right: 8px;
}
.material-symbols-outlined {
  @extend %material-symbols;
}
.material-symbols-rounded {
  @extend %material-symbols;
}

//media queries

@media (max-width: 820px) {
  .bar_wrapper {
    grid-template-columns: 256px auto;
    outline: 1px solid red;
    gap: 16px;
  }
  .logo {
    padding: 0;
  }
}

@media (max-width: 544px) {
  .bar_wrapper {
    background-color: whitesmoke;
    display: flex;
    margin-top: 0;
    padding: 0 16px;
    gap: 0;
    height: 40px;
  }
  .bar {
    padding: 0;
    overflow: hidden;
  }
  .logo {
    font-size: small;

    i {
      margin-right: 4px;
      font-size: 14px;
    }
  }
}
