.main_wrapper {
  // background-color: aliceblue;

  height: 100%;
}

.layout_wrapper {
  padding: 0 32px;
  // height: 100%;
}
.layout {
  display: grid;
  gap: 24px;
  grid-template-columns: 296px auto;
}

//media query
@media (max-width: 544px) {
  .layout {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .layout_wrapper {
    padding: 0 16px;
  }
}
