@use "variables";
.Nav_wrapper {
  height: 64px;
  background-color: variables.$nav-background;
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 30px;
}
.github_logo {
  height: 35px;
  width: 35px;
}
