@use "variables";
.repositories {
  padding: 0 0 0 8px;
}

.repositories_search_bar_wrapper {
  line-height: 21px;
  padding: 16px 0;
}
.repositories_search_bar {
  height: 32px;
  form {
    height: 100%;
  }
  input {
    width: 439px;
    line-height: 20px;
    background-color: variables.$bg-color;
    border: 1px solid variables.$border-color;
    color: #ddd;
    border-radius: 6px;
    font-size: 14px;
    height: 100%;
    padding: 5px 12px;
    &::placeholder {
      color: variables.$text-color-gray;
      opacity: 1;
    }
    &:focus {
      outline: none;
      border: 1.5px solid variables.$text-color-blue;
    }
  }
}
