@use "variables";
%flex-align {
  display: flex;
  align-items: center;
}
.repositories {
  padding: 0 0 0 8px;
  line-height: 21px;
}

.repositories_search_bar_wrapper {
  padding: 16px 0;
  border-bottom: 0.5px solid variables.$border-color;
}
.repositories_search_bar {
  height: 32px;
  form {
    height: 100%;
  }
  input {
    width: 440px;
    line-height: 20px;
    background-color: variables.$bg-color;
    border: 1px solid variables.$border-color;
    color: #ddd;
    border-radius: 6px;
    font-size: 14px;
    height: 100%;
    padding: 5px 12px;
    &::placeholder {
      color: variables.$text-color-gray;
      opacity: 1;
    }
    &:focus {
      outline: none;
      border: 1.5px solid variables.$text-color-blue;
    }
  }
}

.repository_wrapper {
  padding: 24px 0;
  border-bottom: 0.5px solid variables.$border-color;
}
.repository {
  .repo_left {
    width: 74.9999%;

    .repo_name {
      @extend %flex-align;
      gap: 10px;
      margin-bottom: 4px;
    }
  }
}
.repo_title {
  h3 {
    color: variables.$text-color-blue;
    font-size: 20px;
    line-height: 30px;
  }
}
.repo_label {
  padding: 0 7px;
  border: 1px solid variables.$border-color;
  border-radius: 24px;
  line-height: 18px;
}

.repo_tag {
  margin-top: 8px;
  line-height: 30px;
}
.repo_update {
  margin-left: 18px;
}
