@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Outfit:wght@400;600&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  background-color: #0d1117;
  color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
